/* Estilos para botones de acción */
.action-button {
  background-color: #00A65A !important;
  color: white !important;
  border: none !important;
  padding: 0.5rem 1.5rem !important;
  font-weight: normal !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
  transition: all 0.2s ease !important;
}

.action-button:hover {
  background-color: #008d4c !important;
  transform: translateY(-1px) !important;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
}