.lista-precios-container {
    padding: 0.5rem;
    min-height: 100vh;
}

.table-header-custom {
    background-color: #337ab7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.employee-list-container {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 10px;
}

.employee-list-container::-webkit-scrollbar {
  width: 8px;
}

.employee-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.employee-list-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.employee-list-container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.btn-guardar-custom {
    background-color: #002149 !important;
    border-color: #002149 !important;
    color: white !important;
}

.btn-guardar-custom:hover {
    background-color: #001a3a !important;
    border-color: #001a3a !important;
}

.btn-regresar-pos-custom {
    color: #002149 !important;
    border-color: #002149 !important;
}

.btn-regresar-pos-custom:hover {
    background-color: #002149 !important;
    color: white !important;
}