/* Estilos para PosScreen */

.pos-main-container {
    margin-left: 0;
    min-height: 100vh;
    background: #f7f7fa;
    width: 100%;
    padding-top: 0;
    overflow-y: auto;
    height: auto;
}

/* Responsive - Tablets (1024x768) y pantallas pequeñas de hasta 15" */
@media (min-width: 769px) and (max-width: 1366px) {

    /* Ajustar altura del catálogo para ver mejor la última fila */
    .pos-screen .card-bg.mb-3.p-3 {
        max-height: calc(100vh - 220px) !important;
        margin-bottom: 20px !important;
    }
}